/*@import url("b.css");*/

/* @import url("../import/MemberModify.html"); */


table,
body,
input,
option,
select,
a,
ul,
li {
    font-family: Roboto, Microsoft Yahei!important;
    font-weight: bold!important;
    font-size: 12px;
    border-radius: 0!important;
}

@-webkit-keyframes blink {
    0% {
        background-color: #f50057;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}

input[type=text].blink {
    -webkit-animation: blink 2s infinite ease-in-out;
}

input[type=text].danger {
    background-color: #f50057;
}

input[type=text].safe {
    background-color: #CCFF90;
}