:root {
    --evo-theme-primary: #546e7a;
    --evo-theme-primary-font-color: #fff;
    --evo-theme-primary-font-size: 12px;
    --evo-theme-primary-font-family: Roboto, 'Microsoft YaHei';
    --evo-theme-danger: #ec407a;
    --evo-theme-danger-font-color: #fff;
}

*:not(.icon) {
    font-family: var(--evo-theme-primary-font-family)!important;
    font-weight: bold;
}

..showInfo table {
    background-color: rgb(224, 57, 151) !important;
}

#spTitle,
#topDiv,
#topDiv a,
.tabledivPublic ul.TrHead2 li,
.tabledivPublic ul.TrHead li,
.showInfo {
    background-color: #546e7a!important;
    color: #fff!important;
    border-radius: 0!important;
}

.tabledivPublic ul:hover li {
    background-color: #607d8b;
    color: #fff;
}

.tabledivPublic ul:hover li>a.colorlightBlue,
.tabledivPublic ul:hover li>.colorfontblue {
    color: #fff!important;
    text-decoration: underline!important;
}


.tabledivPublic ul:hover li>span[style='color: #067E02'] {
    color: #B2FF59!important;
}

.tabledivPublic ul:hover li>span[style='color: #f40500'] {
    color: #FF0056!important;
}

.tabledivPublic ul>li.self {
    background-color: #01579B;
    color: #fff;
}

.tabledivPublic ul>li.danger {
    background-color: #ec407a;
    color: #fff;
}