$baseUrl: "chrome-extension://__MSG_@@extension_id__/images";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*[disabled] {
    pointer-events: none !important;
    opacity: 0.5 !important;
    cursor: not-allowed;
}

body {
    font-size: 12.5px;
}

.ui.cards {

    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;

    .card.danger {
        background-image: url($baseUrl+"/2.jpg") !important;
    }

    .card.success,
    .card {
        min-width: fit-content;
        background-repeat: round !important;
        background-image: url($baseUrl+"/1.jpg") !important;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);

        .content.compact {
            padding: 6px 12px;

        }

        .content.padded {}

        .content {

            border-bottom: rgba(255, 255, 255, 0.5) solid grey;

            .header.padded {
                padding: 10px;
                color: #fff !important;

            }

            .header {
                color: #fff !important;


            }

            .meta {
                font-size: x-small;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        .extra {
            background-color: #fefefe;
            padding: 3px;
        }

        .extra.grid {
            display: grid;
        }

        .extra.flex {
            display: flex;
        }

        .extra.grid.grid-4 {
            grid-template-columns: 25% 25% 25% 25%;
        }

    }

}

.grid-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}


.grid-1 {
    display: grid;
    grid-template-columns: auto;
}


.ui.image.label.protocol {
    flex-wrap: wrap;
}

.ui.image.label.center {
    text-align: center;
}

.ui.image.label,
.ui.image.label.visible {

    display: flex !important;
    margin: 2px;
    padding: 0;
    line-height: 28px;
    text-align: left;
    min-width: 76px;

    .angle.icon {
        cursor: pointer;
        margin: 0;
        padding: 0 8px;
        background: rgba(0, 0, 0, 0.15);
        display: flex;
        height: max-content;
    }

    .angle.icon:hover {
        background: rgba(0, 0, 0, 0.25);
        font-weight: bold;
    }

    .angle.icon.left {
        margin-right: 1px;
        border-top-left-radius: 0.285714rem;
        border-bottom-left-radius: 0.285714rem;
    }

    .angle.icon.right {
        margin-left: 1px;
        border-top-right-radius: 0.285714rem;
        border-bottom-right-radius: 0.285714rem;
    }

    span,
    .detail {
        border-radius: 0;
        margin: 0;
        padding: 0 8px;
        flex-grow: 1;
        text-align: inherit;
        width: -webkit-fill-available;
    }


    .detail.center {
        text-align: center;
    }


}