<div class="ui cards">
    <div class="ui card" ng-repeat="me in list" ng-class="{'negative':me.region.alert||me.alert}" ng-init="apiFunction.region(me)">

        <div class="ui top attached content compact">
            <div class="left floated meta">
                <i class="icon icon-text" ng-class="icons[me.attr]" title="{{heads[me.attr]}}"></i>
            </div>
            <div class="right floated meta">
                <i class="sync alternate icon" ng-class="{'loading':me.active}" ng-click="apiFunction.region(me, $event);"></i>
            </div>
        </div>
        <div class="content compact center aligned">
            <div class="header">{{me.value||"------"}}</div>
        </div>
        <div class="content result">
            <div class="ui dimmer" ng-class="{'active': me.active }">
                <div class="ui text loader small">归属地查询中</div>
            </div>
            <div class="header padded">
                <!-- <b ng-if="me.alarm">{{me.status||me.alarm}}</b> -->
                {{me.region.prov}} {{me.region.city}} {{me.region.area}} {{me.region.country}}
            </div>
            <div class="sub meta">
                {{me.region.meta}} {{me.region.time}}
            </div>
        </div>
        <div class="extra content grid grid-2" ng-if="me.attr=='locate'" ng-init="getProtocolSet(me);">
            <div class="ui image label green protocol center" ng-repeat="row in me.rows" ng-class="{'pink':row.danger}">
                <span>{{row.IPAddress}}</span>
                <div class="detail">{{row.IPLocation}}</div>
            </div>
        </div>
        <div class="extra content grid grid-4" ng-if="me.attr!='locate'">
            <div ng-repeat="s in me.sites" ng-init="apiFunctions.member(s)">
                <div class="ui image label" ng-click="showSemanticModal(s);">
                    <div class="detail center">{{s.channel}}-{{s.abort}}<b>{{s.list_RemittanceName.length}}</b></div>
                </div>
                <div class="ui image label">
                    <i class="angle left icon" ng-click="s.index = s.index-1; apiFunctions.member(s, $event);" ng-disabled="s.index==1 || s.active"></i>
                    <div class="detail center" ng-show="s.active"><i class="spinner loading icon"></i></div>
                    <div class="detail center" ng-hide="s.active"><b ng-show="s.records">{{s.index}}/</b>{{s.records}}</div>
                    <i class="angle right icon" ng-click="s.index = s.index+1; apiFunctions.member(s, $event);" ng-disabled="s.index>=s.records || s.active || s.abort"></i>
                </div>
                <div class="ui image label pointer" ng-repeat="row in s.rows" ng-click="openMemberModify(row, s)" ng-init="changeColor(row);" ng-class="[color]" id="{{$id}}">
                    <div class="detail">{{row.f_accounts||row.AccountID|uppercase}}</div>
                    <aside class="hidden" ng-init="setPopup(row)" title="警示訊息">
                        <table class="ui celled selectable striped collapsing table inverted pink small" name="{{popupId}}">
                            <thead>
                                <th>警示帐号</th>
                                <th>汇款户名</th>
                                <th>汇款帐号</th>
                                <th>警示讯息</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in row.list_Accounts">
                                    <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                                    <td>{{w.f_RemittanceName||w.AccountName}}</td>
                                    <td>{{w.f_RemittanceAccount}}</td>
                                    <td>{{w.f_remarks||w.Memo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui fullscreen modal">
    <table class="ui celled selectable striped collapsing table small">
        <thead>
            <th>警示帐号</th>
            <th>汇款户名</th>
            <th>汇款帐号</th>
            <th>警示讯息</th>
        </thead>
        <tbody>
            <tr ng-repeat="w in list_RemittanceName|orderBy:'notice'" ng-init="checkSensitiveUserWarn.call(w)" ng-class="{'danger':w.notice}">
                <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                <td>{{w.f_RemittanceName||w.AccountName}}</td>
                <td>{{w.f_RemittanceAccount}}</td>
                <td>{{w.f_remarks||w.Memo}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <b>dqwweew</b>
<table>
    <caption></caption>
    <thead>
        <tr>
            <th ng-repeat="h in dd">{{h}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in dt">
            <td>{{d.unique}}</td>
            <td>{{d.agency}}</td>
            <td>{{d.author}}</td>
            <td>{{d.peril}}</td>
            <td>{{d.blackie}}</td>
            <td>{{d.protocol}}</td>
        </tr>
    </tbody>
</table> -->
<!--
<aside ng-init="queryInputModel()"></aside>
<aside ng-init="createIFrame(route.device)"></aside> -->
<!-- <iframe src="{{route.device}}"></iframe> -->
<!--
<aside ng-include="views.cards.warning"></aside>
 <aside ng-include="views.channel"></aside>
<aside ng-include="views.pagination"></aside>
<aside ng-include="views.account"></aside> -->
<!-- <p ng-bind-html="myHTML"></p> -->
<style type="text/css">
/*aside {
    display: inherit;
}*/

#divCookie {
    display: grid;
}

ul {
    display: table-row;
}

li {
    font-size: x-small;
}

ul[type="self"]>li:nth-child(3) {
    background-color: rgba(63, 81, 181, 0.9) !important;
    color: #fff !important;
}


li[type="danger"] {
    background-color: rgba(233, 30, 99, 0.9) !important;
    color: #fff !important;
}

li[type="danger"] a {
    color: #fff !important;
}

tr.danger>td {
    background-color: rgba(224, 57, 151, 0.5) !important;
}


.detail.Noto-Sans-SC {
    font-family: 'Noto Sans SC' !important;
    font-weight: 300 !important;
}


tr:hover {
    /*  transform: scaleY(1.5); */
    /* zoom: 1.5; */
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.ui.celled.table tr th {
    word-break: keep-all;
}

.ui.table,
.ui.modal {
    background-color: transparent;

}

.ui.modal table td {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}

.ui.modal table td {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.ui.modal table td:nth-child(4) {
    word-break: break-all;
}

i.icon {
    width: fit-content;
}

i.icon-text::after {
    content: attr(title);
    font-family: Microsoft Yahei;
    font-weight: bold;
    margin-left: 5px;
}


i.icon.sync:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}

i.icon:hover {
    color: rgba(255, 255, 255, 0.9);
}

i.icon.loading {
    margin: 0 !important;
}

.result.content {
    text-align: center;
    min-height: 80px;
}

.content {
    position: relative;
}

.content.active {
    /*opacity: 0.2;*/
}

.ui.labels.visible .label,
.ui.label.visible:not(.dropdown) {
    display: flex !important;
}
</style>
<!-- <div style="padding: 0px;margin:-12px;background: rgba(0,0,0,0.5);color:rgba(255,255,255,0.5);font-size: x-small;" class="hidden">
                {{me.alarm}}
            </div> -->
<!--
    shapeID='shape'+$id;
ng-if="row.list_Accounts.length" -->