

.extra.content>.cell {
    position: relative;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}


.extra.content>.cell:not(.fit) {
    /* min-width: 100px; */
    max-width: 120px;
    flex-grow: 1;
}

.extra.content>.cell.fit {
    min-width: 100px;
    max-width: fit-content;
}

.extra.content>.cell-1 {
    min-width: 100%;
    max-width: 100%;
}

.extra.content>.cell>.ui.buttons {
    margin-top: 10px;
    display: none;
}

.extra.content>.cell.fit>.ui.buttons,
.extra.content>.cell:hover>.ui.buttons {
    display: inline-block;
}

.extra.content>.cell.fit>.icon.thumbtack {
    color: red;
}
