<div class="ui cards">
    <div class="ui card" ng-repeat="me in datalist" ng-class="{'negative': me.verify.sheets||me.verify.region}" ng-init="apiFunctions(me);">
        <div class="ui dimmer" ng-class="{'active':me.active}">
            <div class="ui text loader">{{me.title}}<br>归属地查询中</div>
        </div>
        <div class="ui top attached content compact">
            <div class="left floated meta">
                <i class="icon" ng-class="icon"></i>{{header}}<b ng-show="me.verify.sheets">{{me.verify.sheets}}</b>
            </div>
            <div class="right floated meta">
                <i class="sync alternate icon pointer" ng-click="apiFunctions(me, $event);"></i>
            </div>
        </div>
        <div class="content compact center aligned">
            <div class="header">{{me.value}}</div>
        </div>
        <div class="content center aligned" ng-if="me.property=='author'">
            <div class="header padded">
                {{me.verify.sheets[3]}}
            </div>
            <div class="sub meta">
                {{me.verify.sheets[1]}}-{{me.verify.sheets[2]}}
            </div>
        </div>
        <div class="content center aligned" ng-if="me.property!='author'">
            <div class="header padded">
                {{me.region.prov}} {{me.region.city}} {{me.region.area}} {{me.region.country}}
            </div>
            <div class="sub meta">
                {{me.region.meta||me.provider}}
            </div>
        </div>
        <div class="extra content" ng-if="me.property=='locate'" ng-init="getAllIPAddress(me)">
            <div class="grid-2">
                <div class="ui image label protocol center" ng-class="{'pink': row.match,'green': !row.match }" ng-repeat="region in me.regions">
                    <span>{{region[0]}}</span>
                    <div class="detail">{{region[1]}}</div>
                </div>
            </div>
        </div>
        <div class="extra content flex" ng-if="me.property!='locate'">
            <div ng-repeat="s in me.sites" ng-init="shapeID='shape'+$id; apiMemberList(s, me);">
                <div class="ui image label">
                    <div class="detail center">{{s.channel}}</div>
                </div>
                <!-- pagination -->
                <div class="ui image label">
                    <i class="angle left icon" ng-click="s.index = s.index-1; apiMemberList( s );" ng-disabled="s.index==1 || s.active"></i>
                    <div class="detail center" ng-show="s.active"><i class="spinner loading icon"></i></div>
                    <div class="detail center" ng-hide="s.active"><b ng-show="s.records">{{s.index}}/</b>{{s.records}}</div>
                    <i class="angle right icon" ng-click="s.index = s.index+1; apiMemberList( s );" ng-disabled="s.index>=s.records || s.active"></i>
                </div>
                <!-- account -->
                <div class="ui image label pointer" ng-repeat="row in s.rows" ng-click="showMemberModify(row, s)" ng-init="changeColor(row, this); GetAlertInfoByID(row, this);  popup_id = 'popup_' + $id;" ng-class="[row.color]" id="{{popup_id}}">
                    <div class="detail accounts">{{row.f_accounts||row.AccountID|uppercase}}</div>
                    <!-- extra content 警示訊息-->
                    <aside class="hidden">
                        <table class="ui celled selectable striped collapsing table inverted pink small" ng-init="imPopup(row , this, popup_id)" ng-if="row.list_Accounts.length">
                            <thead>
                                <th>警示帐号</th>
                                <th>汇款户名</th>
                                <th>汇款帐号</th>
                                <th>警示讯息</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in row.list_Accounts">
                                    <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                                    <td>{{w.f_RemittanceName||w.AccountName}}</td>
                                    <td>{{w.f_RemittanceAccount}}</td>
                                    <td>{{w.f_remarks||w.Memo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>