<div class="ui cards">
    <div class="ui card" ng-repeat="me in userlist" ng-class="{'negative': verify.sheets|| verify.region}" ng-init="init(me); apiFunctions(me)">
        <div class="ui dimmer" ng-class="{'active': me.active}">
            <div class="ui text loader">{{title}}
                <br>归属地查询中</div>
        </div>
        <div class="ui top attached content compact">
            <div class="left floated meta">
                {{attr}}
                <i class="icon" ng-class="icons[attr]"></i>{{heads[attr]}}<b ng-show="sheets.verify">{{sheets.verify}}</b>
            </div>
            <div class="right floated meta">
                <i class="sync alternate icon pointer" ng-click="apiFunctions(me, $event); "></i>
            </div>
        </div>
        <div class="content compact center aligned">
            <div class="header">{{value||"------"}}</div>
        </div>
        <div class="content center aligned" ng-if="attr=='author'">
            <div class="header padded">
                {{verify.sheets[3]}}
            </div>
            <div class="sub meta">
                {{verify.sheets[1]}}-{{verify.sheets[2]}}
            </div>
        </div>
        <div class="content center aligned" ng-if="attr!='author'">
            <div class="header padded">
                {{region.prov}} {{region.city}} {{region.area}} {{region.country}} {{region.status}}
            </div>
            <div class="sub meta">
                {{region.meta||region.provider}}-{{time}}
            </div>
        </div>
        <!-- <div class="extra content" ng-if="me.attr=='locate'" ng-init="getAllIPAddress(me)">
            <div class="grid-2">
                <div class="ui image label protocol center" ng-class="{'pink': row.match,'green': !row.match }" ng-repeat="region in me.regions">
                    <span>{{region[0]}}</span>
                    <div class="detail">{{region[1]}}</div>
                </div>
            </div>
        </div> -->
        <div class="extra content flex" ng-if="attr!='locate'">
            <div ng-repeat="s in sites" ng-init="apiMemberList(s); __getAlertInfo(s)">
                <div class="ui image label">
                    <div class="detail center">{{channel}}-<b>{{list_RemittanceName.length}}</b></div>
                </div>
                <!-- pagination -->
                <div class="ui image label">
                    <i class="angle left icon" ng-click="s.index=s.index-1; apiMemberList(s);" ng-disabled="index==1||active"></i>
                    <div class="detail center" ng-show="active"><i class="spinner loading icon"></i></div>
                    <div class="detail center" ng-hide="active"><b ng-show="records">{{index}}/</b>{{records}}</div>
                    <i class="angle right icon" ng-click="s.index=s.index+1; apiMemberList(s);" ng-disabled="index>=records||active"></i>
                </div>
                <!-- account -->
                <div class="ui image label pointer" ng-repeat="r in rows" ng-click="showMemberModify()" ng-init="
                    getAlertInfo(r);
                _changeColor(r);" ng-class="[color]">

                    <div class="detail">{{r.f_accounts||r.AccountID|uppercase}}</div>
                    <aside class="hidden" ng-init="changeColor(r); _setPopup()" ng-if="list_Accounts.length" id="{{popid}}">
                        <table class="ui celled selectable striped collapsing table inverted pink small">
                            <thead>
                                <th>警示帐号</th>
                                <th>汇款户名</th>
                                <th>汇款帐号</th>
                                <th>警示讯息</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in list_Accounts">
                                    <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                                    <td>{{w.f_RemittanceName||w.AccountName}}</td>
                                    <td>{{w.f_RemittanceAccount}}</td>
                                    <td>{{w.f_remarks||w.Memo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    shapeID='shape'+$id;
ng-if="row.list_Accounts.length" -->