<div class="ui cards" id="myCard">
    <div class="ui card" ng-repeat="me in dataset" ng-class="{ 'danger':  sheets.test  || region.test }" ng-init="initialization(me);">
        <!-- dimmer -->
        <div class="ui dimmer" ng-class="{ 'active': active }">
            <div class="ui text loader">{{title}}
                <br>归属地查询中</div>
        </div>
        <!-- attached content -->
        <div class="ui top attached content">
            <div class="left floated meta">
                <i class="icon" ng-class="icon"></i>{{head}} {{sheets.meta}}
            </div>
            <div class="right floated meta">
                <i class="sync alternate icon pointer" ng-click="apiFunctions(me, $event);"></i>
            </div>
        </div>
        <!-- content 抬头值-->
        <div class="content center aligned">
            <i class="icon earlybirds hidden"></i>
            <div class="header">{{value}}</div>
        </div>
        <div class="content center aligned" ng-show="region">
            <div class="sub header">
                {{region.prov}} {{region.city}} {{region.area}} {{region.ctry}}
            </div>
            <div class="sub meta">
                {{region.meta}}
            </div>
        </div>
        <div class="extra content">
            <div class="cell" ng-repeat="s in sites" ng-init="apiMemberList(s);">
                <div class="ui image label">
                    <!-- <b>{{channel}}-{{active}}</b> -->
                    <div class="detail">
                        <i class="spinner icon loading" ng-show="active"></i>
                        <i class="spinner icon loading" ng-show="s.active"></i>

                    </div>
                </div>
                <div class="ui image label pointer" ng-repeat="row in rows">
                    <div class="detail accounts">{{row.f_accounts||row.AccountID|uppercase}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
i.icon.loading33 {
    height: 1em;
    line-height: 1;
    animation: icon-loading 2s linear 0s infinite normal none running;
    animation-name: icon-loading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}



/* 
i.icon.loading {
    height: 1em;
    line-height: 1;
    animation: icon-loading 2s linear 0s infinite normal none running;
}
 */


/*
 ng-init="apiFunctions(me);"
.hidden {
    display: none !important;
}
*/
</style>