<div class="ui cards inverted">
    <div class="ui card" ng-repeat="me in dataset" ng-class="{ 'danger': me.danger }" ng-init="initialize(me)" ng-show="me.value">
        <div class="ui top attached content">
            <div class="left floated meta">
                <i class="icon margin-right" ng-class="me.icon"></i>{{me.category}}<span ng-bind="me.note"></span>
            </div>
            <div class="right floated meta">
                <i class="sync alternate icon pointer" ng-click="initialize(me, $event)"></i>
            </div>
        </div>
        <div class="ui dimmer" ng-class="{ 'active': me.active }">
            <div class="ui text loader">{{me.title}}
                <br>归属地查询中</div>
        </div>
        <div class="content center aligned">
            <div class="header">{{me.title}}</div>
            <!-- <div class="meta">{{me.value}}</div> -->
        </div>
        <div class="content center aligned">
            <div class="sub header">{{me.result.province}} {{me.result.city}} {{me.result.area||me.result.country}} {{me.result.text}}
                <!-- -{{me.country}} -->
            </div>
            <div class="sub meta" ng-bind="me.result.meta"></div>
            <!-- <div class="sub meta" ng-bind="me.result.statusText"></div> -->
            <!-- {{me.career}} -->
        </div>
        <div class="extra content">
            <div class="cell" ng-class="me.method" ng-repeat="s in me.sites track by $index" ng-init="initialize(s);" ng-show="me.value && s.hide!=true">
                <div class="ui image label" ng-if="s.method=='GetMemberList'" ng-class="{'grey': s.active,'grey': s.ignore, 'red':s.result==-1, 'green':s.result.total==0, 'purple':s.result.total>0}">
                    <div class="detail port">{{s.port}}
                        <!-- -{{s.result.records}}-{{s.list_RemittanceName.length}} -->
                    </div>
                    <div class="detail" ng-if="s.active">
                        <i class="spinner loading icon"></i>
                    </div>
                    <div class="detail" ng-if="s.result.total==0">
                        <i class="check circle icon"></i>
                    </div>
                    <div class="detail" ng-if="s.result==-1" data-content="权限不足">
                        <i class="stop circle icon"></i>
                    </div>
                    <div class="detail pointer" ng-click="openMemberList(s)" ng-if="s.result.total>0">
                        <i class="angle right icon"></i>
                    </div>
                </div>
                <!-- <div class="ui divider"></div> -->
                <div class="ui image label pointer special" ng-class="{'pink': row.match,'green': !row.match }" ng-if="s.method=='getAllIPAddress'" ng-repeat="row in s.rows">
                    <b ng-init="check_locate(row)">{{row.locate}}</b>
                    <div ng-init="check_region(row)" class="detail">{{row.province}}</div>
                </div>
                <div class="ui image label pointer" ng-if="s.method=='GetMemberList'" ng-repeat="row in s.result.rows" ng-click="showMemberModify(row,s)" ng-init="GetAlertInfoByID(row, s, this); popup_id = 'popup_' + $id;" ng-class="[row.color]" id="{{popup_id}}">
                    <div class="detail accounts">{{row.f_accounts||row.AccountID|uppercase}}</div>
                    <div class="ui popup special" ng-if="row.list_Accounts" ng-init="imPopup(row , this, popup_id)">
                        <table class="ui celled selectable striped collapsing table inverted pink small">
                            <thead>
                                <th>警示帐号</th>
                                <th>汇款户名</th>
                                <th>汇款帐号</th>
                                <th>警示讯息</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in row.list_Accounts">
                                    <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                                    <td>{{w.f_RemittanceName||w.AccountName}}</td>
                                    <td>{{w.f_RemittanceAccount}}</td>
                                    <td>{{w.f_remarks||w.Memo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ng-class="{'pink': row.list_Accounts }" 
 -->
<style type="text/css">
.ui.cards>.card:nth-child(2) {
    min-width: min-content;
}

.ui.popup.special {
    padding: 2px;
    min-width: max-content;
}

.ui.image.label.special {
    text-align: center;
    align-items: center;
}

.ui.image.label.special>.detail {
    min-width: 100px;
    text-align: center;
}


.ui.image.label.special>b {
    padding: 0px 7px;
    width: 120px;
}

.extra.content>.cell.locate {
    max-width: 290px!important;
}

.ui.image.label {
    font-size: small;
}

.extra.content>.cell.locate .detail.port {
    display: none;
    margin: 0px;
    visibility: hidden;
}
</style>