* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui.cards {
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}


.ui.cards>.card.success,
.ui.cards>.card {
    min-width: fit-content;
    background-repeat: round !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/1.jpg') !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.ui.cards>.card.error {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/error.jpg') !important;
}

.ui.cards>.card.danger {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/2.jpg') !important;
}

.ui.cards>.card>.content>.header:not(.ui),
.ui.card>.content>.header:not(.ui) {
    min-height: 20px;
    color: #fff;
    font-size: 16px !important;
}

.ui.cards>.card>.content>.header.sub {
    height: 40px;
    padding: 10px;
}

.ui.cards>.card>.content>.meta.sub {
    height: 20px;
}

.ui.cards>.card>.content>.meta>.icon {
    margin-right: 3px;
}

.ui.cards>.card>.content {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ui.cards>.ui.card>.content.attached.top {
    padding-top: 7px;
    padding-bottom: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.ui.cards>.ui.card>.content.extra {
    display: flex;
    background-color: #fefefe;
    position: relative;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.ui.cards>.card>.content>.meta {
    height: 20px;
    color: rgba(255, 255, 255, .8);
    font-size: 12px !important;
    font-weight: bold;
}
















/* .cell****************************************************/

.ui.cards>.ui.card {
    background-size: cover;
    background-repeat: no-repeat;
    order: attr(order);
}

.extra.content>.cell {
    position: relative;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}


.extra.content>.cell:not(.fit) {
    /* min-width: 100px; */
    max-width: 100px;
    flex-grow: 1;
}

.extra.content>.cell.fit {
    min-width: 100px;
    max-width: fit-content;
}

.extra.content>.cell-1 {
    min-width: 100%;
    max-width: 100%;
}

.extra.content>.cell>.ui.buttons {
    margin-top: 10px;
    display: none;
}

.extra.content>.cell.fit>.ui.buttons,
.extra.content>.cell:hover>.ui.buttons {
    display: inline-block;
}

.extra.content>.cell.fit>.icon.thumbtack {
    color: red;
}

.ui.image.label.visible {
    display: flex !important;
}


/* 
.ui.image.label.full>b {
    min-width: 120px;
    padding: 0px 10px;
}

.ui.image.label.full>.detail {
    min-width: 60px;
} */


.ui.image.label.visible,
.ui.image.label {
    align-items: center;
    margin: 2px;
    display: flex;
    padding: 0;
    justify-content: flex-start;
    overflow: hidden;
    max-width: unset;
    min-width: -webkit-fill-available;
    min-height: 28.16px;
}


.ui.image.label>b {
    padding: 0px 10px;
}


.ui.image.label>.detail {
    border-radius: 0;
    margin: 0;
    display: inline-flex;
    flex: 1;
    min-height: inherit;
}


.ui.image.label.pagination>i.icon {
    cursor: pointer;
    padding: 0px 10px;
    margin: 0;
    display: inline-flex;    
    height: 100%;
    align-items: center;
}

.ui.image.label>.detail.port {
    background-color: rgba(0, 0, 0, 0) !important;
}

.ui.image.label>.detail.ishow {
    min-width: max-content;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.ui.image.label>.detail.level {
    min-width: 35px;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.ui.image.label>.detail.accounts {
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.ui.image.label>.detail.bankname {
    min-width: 110px;
}

.ui.image.label>.detail.banknumber {
    min-width: 142px;
}

.ui.image.label>.detail.joindate {
    min-width: 142px;
    background-color: rgba(0, 0, 0, 0.15) !important;
}


.icon.sync.alternate {
    color: rgba(255, 255, 255, 0.5)
}

.icon.sync.alternate:hover {
    color: rgba(255, 255, 255, 1)
}

.icon.thumbtack {
    color: grey;
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
}

.ui.popup.padding-2px {
    padding: 2px;
    /* position: relative; */
}

.hide {
    display: none;
}

.ui.text.loader {
    font-weight: bold;
    line-height: 1.5;
}

.pointer {
    cursor: pointer;
}