input[type=text]:focus {
    background: #2c6aa0!important;
    color: #fff!important;
    font-weight: bold!important;
}

input[type=text] {
    font-family: Roboto;
}

.ui._orange {
    background-color: #f2711c;
    color: #fff;
}