@import "http://fonts.googleapis.com/earlyaccess/notosanssc.css";

:root {
    --evo-theme-primary: #546e7a;
    --evo-theme-primary-font-color: #fff;
    --evo-theme-primary-font-size: 12px;
    --evo-theme-primary-font-family: Roboto, 'Microsoft YaHei';
    --evo-theme-sub-font-family: 'Helvetica Neue', Arial, 'Noto Sans SC' , 'cwTeXHei', 'Heiti TC', 'Heiti RC', '微軟正黑體', 'Microsoft JhengHei', '新細明體';
    --evo-theme-danger: #ec407a;
    --evo-theme-danger-font-color: #fff;
}

*:not(.icon) {
    font-family: var(--evo-theme-primary-font-family) !important;
    font-weight: bold;
}

.showInfo table {
    background-color: rgb(224, 57, 151) !important;
}

#spTitle,
#topDiv,
#topDiv a,
.tabledivPublic ul.TrHead2 li,
.tabledivPublic ul.TrHead li,
.showInfo {
    background-color: #546e7a !important;
    color: #fff !important;
    border-radius: 0 !important;
}

.tabledivPublic ul:hover li {
    background-color: #607d8b;
    color: #fff;
}

.tabledivPublic ul:hover li>a.colorlightBlue,
.tabledivPublic ul:hover li>.colorfontblue {
    color: #fff !important;
    text-decoration: underline !important;
}


.tabledivPublic ul:hover li>span[style='color: #067E02'] {
    color: #B2FF59 !important;
}

.tabledivPublic ul:hover li>span[style='color: #f40500'] {
    color: #FF0056 !important;
}

.tabledivPublic ul>li.self {
    background-color: #01579B;
    color: #fff;
}

.tabledivPublic ul>li.danger>a,
.tabledivPublic ul>li.danger {
    background-color: #ec407a;
    color: #fff !important;
}

/**************************************************/
.category .tablelist {
    border-radius: 0 !important;
}

.category .tablelist td.self {
    background-color: #01579B !important;
    color: #fff;
}

td.tooltipstered {
    background-color: #ec407a !important;
}

td.tooltipstered:after {
    position: absolute;
    right: 10px;
    color: #fff;
    font-family: Icons;
    content: "\f06a";
}

.category .tablelist td.danger {
    background-color: #ec407a;
    color: #fff;
}

.category .tablelist td.danger>span {
    color: #fff !important;
}

.category .tablelist td.normal>span {
    color: green !important;
}

.category .tablelist tr:hover>td.normal>span {
    color: #42e842 !important;
}

.category .tablelist td {
    position: relative;
}

.category .tablelist td>.exclamation.circle.icon {
    color: #fff;
    position: absolute;
    right: 10px;
}

.hintBoxTable {
    background-color: #ec407a;
    color: #fff;
}

.hintBoxTable td,
.hintBoxTable th {
    color: #fff;
}

.hidden {
    display: none !important;
}

.icon.earlybirds {
    background-color: #bbb;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 18px);
    top: -50px;
    background-color: #fff;
    box-shadow: 1px 2px 7px 1px black;
    font-size: large;
}

.header.positive {
    outline: #fff solid 1px;
    /*border-style: dotted;*/
}


.header.negative {
    outline: #fff solid 1px;
    outline: #fff dashed 1px;
    /*border-style: dotted;*/
}

.ui.basic.label {
    /*background-color: transparent;
    color: #fff;*/
}

.ui.cards>.card:nth-child(2) {
    min-width: min-content;
}

.ui.popup.special {
    padding: 2px;
    min-width: max-content;
}

.ui.image.label.special {
    text-align: center;
    align-items: center;
}

.ui.image.label.special>.detail {
    min-width: 100px;
    text-align: center;
}


.ui.image.label.special>b {
    padding: 0px 7px;
    width: 120px;
}

.extra.content>.cell.locate {
    max-width: 290px !important;
}

.ui.image.label {
    font-size: small;
}

.extra.content>.cell.locate .detail.port {
    display: none;
    margin: 0px;
    visibility: hidden;
}



li>b:nth-child(1) {
    /* color: blue; */
}

li>b:nth-child(2)::before {
    content: "-";
}

.pointer {
    cursor: pointer;
}



/*
    /*  content: " (" attr(href) ")"; */

i.icon.universal.access {
    content: "汇款户名";
}

i.icon.author:before {
    content: "\f29a";
}

i.icon.mobile:before {
    content: "\f3cd";
}

i.icon.idcard:before {
    content: "\f2bb";
}

i.icon.locate:before {
    content: "\f3c5";
}

i.icon.banker:before {
    content: "\f380";
}


i.icon.universal.access:before {
    content: "\f29a";
}

*/