<div class="ui cards">
    <div class="ui card" ng-repeat="me in list track by $index" ng-class="{'negative':me.region.alert||me.region.alarm}" ng-init="apis.region.call(me, this, $event);">
        <div class="ui top attached content compact">
            <div class="left floated meta">
                <i class="icon icon-text" ng-class="icons[me.caller]" title="{{heads[me.caller]}}"></i>
            </div>
            <div class="left floated meta hidden" style="padding-left: 30px;">
                {{me.region.alarm[0]}} {{me.region.alarm[1]}}-{{me.region.alarm[2]}} {{me.region.alarm[3]}}
            </div>
            <div class="right floated meta">
                <i class="sync alternate icon" ng-class="{ 'loading': this.active }" ng-click="apis.region.call(me, this, $event);"></i>
            </div>
        </div>
        <div class="content compact center aligned">
            <div class="header">{{me.value||"------"}}</div>
        </div>
        <div class="content result">
            <div class="ui dimmer" ng-class="{ 'active': this.active }">
                <div class="ui text loader small">归属地查询中</div>
            </div>
            <div>
            </div>
            <div class="header padded">
                {{me.region.prov}} {{me.region.city}} {{me.region.area}} {{me.region.country}}
            </div>
            <div class="sub meta">
                {{me.region.meta}} {{me.region.time}}
            </div>
        </div>
        <div class="extra content grid grid-2" ng-if="me.caller=='locate'" ng-init="getUserRegions()">
            <div class="ui image label green protocol center" ng-repeat="row in user.regions" ng-class="{'pink':row.danger}">
                <span>{{row.IPAddress}}</span>
                <div class="detail">{{row.IPLocation}}</div>
            </div>
        </div>
        <div class="extra content grid grid-4">
            <div ng-repeat="s in sites[$index]" ng-init="apis.member.call(s, this)" ng-if="me.caller!='locate'">
                <div class="ui image label" ng-click="showSemanticModal(s);">
                    <div class="detail center">{{s.channel}}</div>
                    <div class="detail center pink pointer" ng-if="s.list_RemittanceName.length && s.caller=='author'">{{s.list_RemittanceName.length}}</div>
                </div>
                <div class="ui image label">
                    <i class="angle left icon" ng-click="s.index = s.index-1; apis.member.call(s, this, $event)" ng-disabled="s.index==1 || this.active"></i>
                    <div class="detail center" ng-show="this.active"><i class="spinner loading icon"></i></div>
                    <div class="detail center" ng-show="this.error"><i class="minus circle icon red"></i></div>
                    <div class="detail center" ng-hide="this.active || this.error"><b ng-show="s.records">{{s.index}}/</b>{{s.records}}</div>
                    <i class="angle right icon" ng-click="s.index = s.index+1; apis.member.call(s, this, $event);"
                    ng-disabled="s.index>=s.records || this.active || !s.records"></i>
                </div>
                <div class="ui image label pointer" ng-repeat="row in s.rows" ng-click="openMemberModify.call(row, s)" ng-init="changeColor.call(row, this);" ng-class="[color]" id="{{$id}}">
                    <div class="detail">{{row.f_accounts||row.AccountID|uppercase}}</div>
                    <aside class="hidden" ng-init="setPopup.call(row, this)" title="警示訊息">
                        <table class="ui celled selectable striped collapsing table inverted pink small" name="{{$id}}">
                            <thead>
                                <th>警示帐号</th>
                                <th>汇款户名</th>
                                <th>汇款帐号</th>
                                <th>警示讯息</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in row.list_Accounts">
                                    <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                                    <td>{{w.f_RemittanceName||w.AccountName}}</td>
                                    <td>{{w.f_RemittanceAccount}}</td>
                                    <td>{{w.f_remarks||w.Memo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical icon menu">
        <a class="item" ng-click="transition(this)">
            <i class="eye slash icon"></i>
        </a>
        <a class="item" ng-click="transition(this)">
            <i class="eye icon"></i>
        </a>
        <a class="item">
    <i class="video play icon"></i>
  </a>
        <a class="item" ng-click="setPermit(user.frameId)">
    <i class="handshake icon"></i>
  </a>
    </div>
</div>
<div class="ui fullscreen modal">
    <table class="ui celled selectable striped collapsing table small">
        <thead>
            <th>警示帐号</th>
            <th>汇款户名</th>
            <th>汇款帐号</th>
            <th>警示讯息</th>
        </thead>
        <tbody>
            <tr ng-repeat="w in list_RemittanceName|orderBy:'notice'" ng-init="checkSensitiveUserWarn.call(w)" ng-class="{'danger':w.notice}">
                <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                <td>{{w.f_RemittanceName||w.AccountName}}</td>
                <td>{{w.f_RemittanceAccount}}</td>
                <td ng-bind-html="w.f_remarks||w.Memo"></td>
            </tr>
        </tbody>
    </table>
</div>
<style type="text/css">
/*
.tabelwidth-tongyideng li {
    width: auto!important;

}

.tabelwidth-tongyideng li:nth-child(1) {
    width: 2%;
}

.tabelwidth-tongyideng li:nth-child(2) {
    width: 2%;
}

.tabelwidth-tongyideng li:nth-child(3) {
    width: 2%;
}

.tabelwidth-tongyideng li:nth-child(4) {
    width: 2%;
}

.tabelwidth-tongyideng li:nth-child(5) {
    width: 2%;
}

.tabelwidth-tongyideng li:nth-child(10) {
    width: 10%;
}

.tabelwidth-tongyideng li:nth-child(1) {
    width: 2%;
}

.tabelwidth-tongyideng li:nth-child(12) {
    width: auto;

}


*/

em {
    color: #E91E63;
    padding-left: 3px;
    padding-right: 5px;
}

.ui.image.label .detail:first-child {
    border-top-left-radius: 0.285714rem;
    border-bottom-left-radius: 0.285714rem;
}

.ui.image.label .detail:last-child {
    border-top-right-radius: 0.285714rem;
    border-bottom-right-radius: 0.285714rem;
}

.detail.center.pink {
    background-color: #e91e63 !important;
    color: #fff !important;
    opacity: 1;
}

.ui.bottom.attached.segment {
    position: relative;
    top: 30px;
}

.ui.horizontal.divider {
    margin: 50px;
}

.category .tablelist {
    font-size: x-small;
    border-collapse: collapse !important;
    border-spacing: collapse !important;
}

.tablelist th {
    background-color: #546e7a !important;
    color: #fff !important;
    border-collapse: collapse !important;
    border: 1px solid #fff;
    /*border: 1px solid #fff;*/
}

.tablelist tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.85);
}

.category .tablelist tr:hover {
    /*color: #333;*/
}

.category .tablelist td {
    /*color: #333;*/
    width: auto;
}

.detail.center.green {
    background-color: #4caf50 !important;
}

#divCookie {
    display: grid;
}

ul {
    display: table-row;
}

li {
    font-size: x-small;
}

ul[type="self"]>li:nth-child(3) {
    background-color: rgba(63, 81, 181, 0.9) !important;
    color: #fff !important;
}


li[type="danger"] {
    background-color: rgba(233, 30, 99, 0.9) !important;
    color: #fff !important;
}

li[type="danger"] a {
    color: #fff !important;
}

tr.danger>td {
    background-color: rgba(224, 57, 151, 0.5) !important;
}


.detail.Noto-Sans-SC {
    font-family: 'Noto Sans SC' !important;
    font-weight: 300 !important;
}


tr:hover {
    /*  transform: scaleY(1.5); */
    /* zoom: 1.5; */
    /* background-color: rgba(255, 255, 255, 0.3); */
}

.ui.celled.table tr th {
    word-break: keep-all;
}

.ui.table,
.ui.modal {
    background-color: transparent;
}

.ui.modal table td {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
}

.ui.modal table td {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}

.ui.modal table td:nth-child(4) {
    word-break: break-all;
}

i.icon {
    width: fit-content;
}

i.icon-text::after {
    content: attr(title);
    font-family: Microsoft Yahei;
    font-weight: bold;
    margin-left: 5px;
}


i.icon.sync:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}

i.icon:hover {
    color: rgba(255, 255, 255, 0.9);
}

i.icon.loading {
    margin: 0 !important;
}


i.icon.minus.circle {
    margin: 0 !important;
}

.result.content {
    text-align: center;
    min-height: 80px;
}

.content {
    position: relative;
}

.content.active {
    /*opacity: 0.2;*/
}

.ui.labels.visible .label,
.ui.label.visible:not(.dropdown) {
    display: flex !important;
}
</style>
<!-- <div style="padding: 0px;margin:-12px;background: rgba(0,0,0,0.5);color:rgba(255,255,255,0.5);font-size: x-small;" class="hidden">
                {{me.alarm}}
            </div> -->
<!--
    shapeID='shape'+$id;
ng-if="row.list_Accounts.length" -->