<aside>
    <div class="ui vertical labeled icon menu inverted" ng-class="{ 'danger': user.isblack }">
        <a class="item">{{user.author.value}}</a>
        <a class="item">{{frameId}}</a>
        <a class="item" ng-click="$createTab($hyperlink.cookie)" style="margin-bottom: 50px;">
            <i class="bolt icon"></i>一机多登</a>
        <a class="item setPermit" ng-click="setPermit($event)" ng-if="user.status[0] == 3 && !user.status[1]" status="{{user.status}}">
            <i class="handshake outline icon"></i>开通</a>
        <a class="item smss" ng-click="apis.sendSms($event)" ng-if="user.setsms==true || user.setsms==401">
            <i class="envelope outline icon"></i>短信<br>{{user.smss.status}}
        </a>
        <a class="item" ng-click="apis.delUser();" ng-if="$isTest2">
            <i class="trash icon"></i>刪除<br>
        </a>
    </div>
</aside>
<style type="text/css">
/* .item.smss {
    background-color: yellow !important;
} */

.item.pink {
    background-color: red !important;
    color: #fff !important;
}

.disabled {
    pointer-events: none;
}

.ui.inverted.menu.danger {
    background-color: #d2115a !important;
}

.w140 {
    display: inline-block;
    min-width: 150px !important;
}

.m {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}

.ui.labeled.icon.menu {
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    z-index: 99999 !important;
}

.ui.popup,
.ui.popup::before {
    background-color: #333 !important;
    color: #fff !important;
}

.ui.popup>.content {
    text-align: left;
    font-family: Roboto, Microsoft Yahei;
    font-weight: bold;
}

.success {
    color: green !important;
}

.isBlack,
.error {
    color: red;
}

.mdl-dialog {
    width: 350px;
}

.mdl-dialog__title {
    line-height: 1.28571em !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-family: Roboto, Microsoft JhengHei;
}

.mdl-dialog__content {
    font-family: Roboto, Microsoft JhengHei !important;
}

.material-icons {
    margin-right: 10px;
    line-height: inherit !important;
}

._mobile {
    font-family: Roboto;
    font-weight: bold;
}
</style>