* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui.cards {
    margin-top: 20px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}


.ui.cards>.card.success,
.ui.cards>.card {
    min-width: fit-content;
    background-repeat: round !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/1.jpg') !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.ui.cards>.card.error {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/error.jpg') !important;
}

.ui.cards>.card.danger {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/2.jpg') !important;
}

.ui.cards>.card>.content>.header:not(.ui),
.ui.card>.content>.header:not(.ui) {
    min-height: 20px;
    color: #fff;
    font-size: 16px !important;
}

.ui.cards>.card>.content>.header.sub {
    height: 40px;
    padding: 10px;
}

.ui.cards>.card>.content>.meta.sub {
    height: 20px;
}

.ui.cards>.card>.content>.meta>.icon {
    margin-right: 3px;
}

.ui.cards>.card>.content {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ui.cards>.ui.card>.content.attached.top {
    padding-top: 7px;
    padding-bottom: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.ui.cards>.ui.card>.content.extra {
    display: flex;
    background-color: #fefefe;
    position: relative;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 3px;
}

.ui.cards>.card>.content>.meta {
    height: 20px;
    color: rgba(255, 255, 255, .8);
    font-size: 12px !important;
    font-weight: bold;
}

.ui.cards>.ui.card {
    background-size: cover;
    background-repeat: no-repeat;
    order: attr(order);
}