<!-- extra content 警示訊息-->
                    
                    <aside class="hidden">
                        <table class="ui celled selectable striped collapsing table inverted pink small" ng-init="setPopup(row , this, popup_id)" ng-if="list_Accounts.length">
                            <thead>
                                <th>警示帐号</th>
                                <th>汇款户名</th>
                                <th>汇款帐号</th>
                                <th>警示讯息</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in list_Accounts">
                                    <td>{{w.f_accounts||w.AccountID|uppercase}}</td>
                                    <td>{{w.f_RemittanceName||w.AccountName}}</td>
                                    <td>{{w.f_RemittanceAccount}}</td>
                                    <td>{{w.f_remarks||w.Memo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>

                     popup_id = 'popup_' + $id;" 